@include media-breakpoint-up(sm) {
	.navbar-expand-lg > .container, 
	.navbar-expand-lg > .container-fluid, 
	.navbar-expand-lg > .container-lg, 
	.navbar-expand-lg > .container-md, 
	.navbar-expand-lg > .container-sm, 
	.navbar-expand-lg > .container-xl {
		padding-right: 1rem;
		padding-left: 1rem;
	}
}

.navbar-toggler {
	padding: .25rem .25rem;
}

.navbar {
	.navbar-nav {
		.nav-link {
			padding: .5rem 1rem;
		}
		&.ml-auto {
			transform: translateX(1rem);
		}
	}
}